.wrapper {
    /*max-width: 900px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Arial";
    z-index: -2;
}

#my-canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

#img-data-div {
    width: 100%;
    max-width: 900px;
    height: 200px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #CCC;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 4px 8px;
    text-decoration: none;
    font-size: 25px;
    color: BLACK;
    display: block;
    transition: 0.3s ease;
    background-color: #E2e2e200;
}

.sidenav a:hover {
    color: #E2e2e2;
    background-color: #2e2e2eFF;
}

/* Resize image to container */
.sidenav a img {
    max-width: 100%;
    height: auto;
}

.sidenav a canvas {
    max-width: 100%;
    height: auto;
}

.sidenav .closebtn {
    width: 100%;
    background-color: #E2e2e200;
    position: absolute;
    top: 0;
    font-size: 36px;
    margin: 0;
}

.selected {
    background-color: coral !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


html,
body {
    margin: 0px;
    padding: 0px;
    z-index: -3;
}

p {
    margin: 2px;
}

.colorFormPopup {
    margin: 2px;
    display: none;
    position: fixed;
    top: 230px;
    left: 50px;
    border: none;
    z-index: 9000;
}

.colorFormPopup .closeColorPicker {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}

.colorFormPopup .closeColorPicker:hover {
    color: red;
}

.strokeWeightPopup {
    margin: 2px;
    display: none;
    position: fixed;
    top: 275px;
    left: 50px;
    border: none;
    z-index: 9000;
}

.strokeWeightPopup .closeStrokePicker {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}

.strokeWeightPopup .closeStrokePicker:hover {
    color: red;
}

.opacityPopup {
    margin: 2px;
    display: none;
    position: fixed;
    top: 770px;
    left: 50px;
    border: none;
    z-index: 9000;
}

.opacityPopup .closeOpacityPicker {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}
.opacityPopup .closeOpacityPicker:hover {
    color: red;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;
    background: linear-gradient(to right, #a9a9a9 0%, #a9a9a9 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #2b2d2f;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.tooltip {
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    transition-property: visibility;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    width: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -10px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.open-button {
    display: none;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .chat-popup {
    max-width: 250px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .chat-popup textarea {
    position: relative;
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    left: 50%;
    -ms-transform: translate(-50%,50%);
    transform: translate(-50%, 0%);
    min-height: 70px;
  }
  
  /* When the textarea gets focus, do something */
  .chat-popup textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .chat-popup .chatArea {
    padding: none;
    background-color: #ddd;
    max-height: 200px;
  }
  .chat-popup .chatArea #chatBox{
    list-style-type:none;
    margin: none;
    padding: 3px;
  }
  /* Set a style for the submit/send button */
  .chat-popup .btn, .btn_cancel {
    display:inline-block;
    background-color: #4CAF50;
    position: relative;
    margin: none;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .chat-popup .btn_cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .chat-popup .btn:hover,.btn_cancel:hover, .open-button:hover, .login-button:hover {
    opacity: 1;
  }

  .chat-popup .closeChat {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}

