.wrapper {
    /*max-width: 900px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Arial";
    z-index: -2;
}

#my-canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

#img-data-div {
    width: 100%;
    max-width: 900px;
    height: 200px;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #CCC;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: BLACK;
    display: block;
    transition: 0.3s ease;
    background-color: #E2e2e200;
}

.sidenav a:hover {
    color: #E2e2e2;
    background-color: #2e2e2eFF;
}

/* Resize image to container */
.sidenav a img {
    max-width: 100%;
    height: auto;
}

.sidenav a canvas {
    max-width: 100%;
    height: auto;
}

.sidenav .closebtn {
    background-color: #E2e2e200;
    position: absolute;
    top: 0;
    font-size: 36px;
    margin: 0;
}

.selected {
    background-color: #FFFFFF !important;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


html,
body {
    margin: 0px;
    padding: 0px;
    z-index: -3;
}
p{
    margin: 2px;
} 
.colorFormPopup {
    margin: 2px;
    display: none;
    position: fixed;
    top: 275px;
    left: 50px;
    border: none;
    z-index: 9000;
}

.colorFormPopup .closeColorPicker {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}

.strokeWeightPopup {
    margin: 2px;
    display: none;
    position: fixed;
    top: 320px;
    left: 50px;
    border: none;
    z-index: 9000;
  }
.strokeWeightPopup .closeStrokePicker {
    text-decoration: none;
    color: #000;
    background-color: #E2e2e200;
    font-size: 36px;
}

input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:20px;
    background: linear-gradient(to right, #a9a9a9 0%, #a9a9a9 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#2b2d2f;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.4);
  }
